@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CBFFF6;
}

.title {
    color: #FFF;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.paragraf {
    color: #e0e0e0;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.top {
    background-image: url(../IMAGES/FundoIndex.png);
    background-size: 100% 85vh;
    width: 100%;
    height: 85vh;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

header .Logo {
    margin-right: 5%;
}

.middle {
    background-image: url(../IMAGES/Background.png);
    background-size: 100% 250vh;
    width: 100%;
    height: 250vh;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-flow: column;
    background-image: url(../IMAGES/backgroundBottom.png);
    background-size: 100% 220vh;
    width: 100%;
    height: 220vh;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-image: url(../IMAGES/FundoFooter.png);
    background-size: 120% 75vh;
    background-position: -20vh;
    width: 100%;
    height: 75vh;
}

header .navList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-left: 5%;
}

header .navList a {
    color: #FFF;
    font-family: Share Tech;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.hero {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
}

.hero .boxText {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-between;
    height: 40vh;
}

.hero img {
    margin-left: -5vw;
}

.hero .title {
    margin-bottom: 3vh;
    width: 50vw;
}

.hero .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 40%;
    border-radius: 50px;
    border: 2px solid #35A29F;
    background: rgba(203, 255, 246, 0.30);
}

.hero .button a {
    color: #FFF;
    font-family: Share Tech;
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-decoration: none;
    padding: 15px;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.middle section {
    display: flex;
}

.middle .Title {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 1vh;
    margin-left: 5%;
    margin-right: 5%;
}

.middle .Title .title {
    width: 50%;
    color: #000;
    text-align: center;
    font-weight: bolder;
}

.middle .container .title {
    margin: 0;
    color: #000;
    text-align: center;
    font-weight: bolder;
}

.middle .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 40vh;
    background: #D9D9D9;
    text-decoration: none;
}

.middle .junction {
    height: 10vh;
}

.First .Right {
    background-color: #ffffff00;
}

.Second .Left {
    background-color: #ffffff00;
}

.Third .Right {
    background-color: #ffffff00;
}

.Fourth .Left {
    background-color: #ffffff00;
    margin-bottom: 15vh;
}

.bottom .Title {
    width: 90%;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 5%;
    margin-right: 5%;
}

.bottom .Title .title {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottom .container {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bottom .Down {
    margin-left: 10%;
    margin-right: 10%;
}

.bottom .sobreNos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bottom .container .dev img {
    width: 300px;
    height: 300px;
}

.bottom .container .dev {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
}

.bottom .container .dev .text {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottom .container .dev .title {
    width: 80%;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer img {
    height: 12vh;
}

footer .line {
    width: 90%;
    height: 2px;
    margin-left: 5%;
    margin-right: 5%;
    background: #4AB09F;
}

footer .credits .text {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

footer .box {
    margin-top: 27vh;
    width: 85%;
    margin-left: 4%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

footer .credits .text {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: 120%;
    padding-bottom: 3.5vh;
}

footer .credits {
    width: 100%;
    display: flex;
    justify-content: center;
}